*.png
datasets/*
images/*
.DS_Store
.vscode/*
*.data
*.h5
*.ckpt
checkpoint
my_keras_weights*
my_logs
my_mnist_logs
.ipynb_checkpoints
*.tfrecord
*.tfrecords
*.proto
my_fashion*
person*
*.wav
my_sketchrnn/*
my_tfhub_cache/*